//GERAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px 0;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

//SLIDER
.slider {
    padding-top:0 !important;
    .metaslider {
        max-width: 100% !important;
    }
}



//VAR & MIXINS
$primary-color: #202124;

$text-color: white;

@mixin transition() {
    transition: .3s;
    cursor: pointer;
    opacity: 0.6;
}

//NAV
.navbar {
    background: $primary-color;
    padding: 20px;
    .navbar-brand:hover {
        @include transition();
    }
}

@media (max-width:768px) {
    .navbar {
        .nav-link {
            text-align: center;
        }
    }
}

//PORTFOLIO
.portfolio {
    .portfolio__ul {
        text-align: center;
        div:hover {
            @include transition();
        }

    }
    .portfolio__desc {
        .project {
            background: $primary-color;
            color: $text-color;
            border-radius: 3px;
            text-align: center;
            font-size: 30px;
            padding: 30px 0;
        }
    }
    .alert-darkness {
        background: $primary-color;
        color: white !important;
    }
}

//FOOTER
.footer {
    background: $primary-color;
    padding: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand {
        color: $text-color !important;
    }
    i {
        color: white !important;
        font-size: 40px;
        margin-left: 20px;
    }

    i:hover {
        @include transition();

    }

}
