//VAR & MIXINS
$primary-color: #202124;
$link-color: #e74c3c;
$link-color-hover: #c0392b;

$text-color: white;

@mixin transition() {
    transition: .3s;
    cursor: pointer;
    opacity: 0.6;
}

@mixin color-transition() {
    cursor: pointer;
    color: $link-color !important;
    transition: .3s;
}

//GERAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px 0;
}

.title {
    text-align: center;
    padding-bottom: 30px;
    color: $link-color;
    font-weight: bolder;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
}

ul {
    list-style: none;
}

//SLIDER
.slider {
    padding-top: 0 !important;
    .metaslider {
        max-width: 100% !important;
    }
}

//HERO
.hero {
    padding-top: 0;
    position: relative;
    .attachment-post-thumbnail {
        width: 100%;
        height: auto;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $link-color;
        text-shadow: 1px 1px 1px black;
        font-weight: bolder;
        font-size: 50px;
    }
}


//NAV
.navbar {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: .5s;
    .navbar-brand:hover {
        @include color-transition();
    }
    a {
        color: $text-color !important;
    }
    a:hover {
        @include color-transition();
    }
}

@media (max-width:768px) {
    .navbar {
        .nav-link {
            text-align: center;
        }
    }
}

//GALLERY
.gallery {
    background: $primary-color;
}

//PORTFOLIO
.portfolio {
    .portfolio__ul {
        text-align: center;
        div:hover {
            @include transition();
        }

    }
    .portfolio__desc {
        .project {
            background: $link-color-hover;
            color: $text-color;
            border-radius: 3px;
            text-align: center;
            font-size: 30px;
            padding: 30px 0;
        }
    }
    .alert-darkness {
        background: $link-color-hover;
        color: $text-color !important;
    }

    .alert-dark {
        background: $primary-color;
        color: $text-color !important;
    }
}

//BLOG
.blog {
    background: $primary-color;
    color: $text-color;
    .post {
        img {
            width: 100%;
            height: auto;
        }
        img:hover {
            @include transition();
        }
        .post-thumb {
            max-height: 500px;
            overflow: hidden;
        }
        h2 {
            margin-top: 20px;
            font-weight: bolder;
        }
        a {
            color: $link-color;
            font-weight: bolder;
        }
        a:hover {
            color: $link-color-hover;
            text-decoration: none;
        }
    }
}

.single-post {
    a {
        color: $link-color;
        font-weight: bolder;
    }

    a:hover {
        color: $link-color-hover;
        text-decoration: none;
    }
    hr{
        margin:30px 0;
    }
}

//FOOTER
.footer {
    padding: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand {
        color: inherit !important;
    }
    i {
        font-size: 40px;
        margin-left: 20px;
    }

    a {
        color: inherit;
    }

    i:hover {
        @include color-transition();
    }

}
